.neon-text {
  /* color: #ff7ac8;
  text-shadow:
    0 0 2px #ff7ac8,
    0 0 6px #ff7ac8,
    0 0 12px #ff4fae,
    0 0 20px rgba(255, 79, 174, 0.6); */
    color: #ffffff;
  text-shadow:
    0 0 4px #fff,
    0 0 8px #ff7ac8,
    0 0 16px #ff4fae,
    0 0 30px rgba(255, 79, 174, 0.7);
  font-family: "Poppins", cursive;
  letter-spacing: 2px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* .neon-text:hover {
  color: #ffffff;
  text-shadow:
    0 0 4px #fff,
    0 0 8px #ff7ac8,
    0 0 16px #ff4fae,
    0 0 30px rgba(255, 79, 174, 0.7);
} */
 .loader {
  border: 3px solid #fff;
  border-top: 3px solid #f472b6; /* màu hồng pastel */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

