.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neon-text {
  color: #ff69b4;
  text-shadow:
    0 0 5px #ff69b4,
    0 0 10px #ff69b4,
    0 0 20px #ff1493,
    0 0 40px #ff1493,
    0 0 80px #ff1493,
    0 0 90px #ff69b4,
    0 0 100px #ff69b4;
  font-family: "Poppins", cursive;
  letter-spacing: 2px;
  transition: 0.3s;
}

.neon-text:hover {
  color: #fff;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #ff69b4,
    0 0 30px #ff1493,
    0 0 40px #ff1493;
}
